body {
    background-color: blue;
    font-family: Blippo, fantasy;
    color: white;
}

.jumbotron {
    color: blue;
    padding-bottom: 10px;
}

.battle-log,
.fighters,
.arena,
.stats,
.enemy-stats {
    border: 1px solid whitesmoke;
}

img {
    border: 1px solid black;
}

.selected {
    border: 10px solid green;
}

.battle-log {
    width: 600px;
    height: 225px;
    overflow: scroll;
}

.hide {
    visibility: hidden;
}